@import 'nib'

global-reset()

*, *:before, *:after
  box-sizing border-box

html
  font-size 18px
  font-family: monospace

#root
  color #564747
  position relative

.drag_area
  padding 1em
  float left
  width 50%
  height 100vh
.data
  font-size: .7em
  padding: 2em
  background: #efefef;
  float left
  width 50%
  height 100vh
.node
  &:hover
    background: yellow
  &.active
    background: aqua
  background white
  padding 2em
  // position: absolute
  width 300px
  border 1px solid violet
  border-radius 1em
  max-width 300px
  text-align center
  position relative
  cursor: pointer
  .block
    pointer-events none
    user-select none
  .io--in
    position absolute
    width 1em
    height 1em
    border 1px solid violet
    border-radius 50%
    background-color white
    left -.5em
    top calc(50% - .5em)
  .io--out
    right -.5em
    top calc(50% - .5em)
    position absolute
    width 1em
    height 1em
    border 1px solid violet
    border-radius 50%
    background-color white
    .connector
      top 0.5em
      left 0.5em
      width 200px
      height 50px
      border 1px solid yellowgreen