.node(":style"="inline"
      @mousedown.stop="mousedown(this, $event)" 
      @mouseup.stop="mouseup" 
      @mouseover.stop="mouseover(this, $event)"
      ":class"="{'active': dragging}"
      draggable="true"
      @dragover.stop="dragover(this)"
  )
  //-@mousemove.stop="mousemove(this, $event)"
  .block {{ model.name }}
  .block {{ random }}
  //-component(":is"="componentType")
  .io--in("v-el:in")
  .io--out("v-el:out")
  .children
    node(v-for="item in model.children" ":model"="item")