.node(@mousedown="mousedown" @mousemove="mousemove" @mouseup="mouseup" ":style"="inline")
  .block {{ random }}
  .block {{ message }}
  component(":is"="componentType")
  .io--in("v-el:in")
  .io--out("v-el:out")
    .connector
  .list(v-if="isNested")
    node(v-for="model in model.children" ":model"="model" ":m"="mouse")